{erl_opts, [debug_info]}.
{deps, [erlang_color]}.
{plugins, [rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
     {extras, ["README.md", "LICENSE"]},
     {main, "README.md"},
     {source_url, "https://github.com/soos-io/sample-project-erlang"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [soos_sample_project]}
]}.
